<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New User</title>
</head>
<body>
    <h1>Add a new user</h1>
    {% if messages %}
        {% for message in messages %}
        <p{% if message.tags %} class = "{{ message.tag }}" {% endif %}>{{ message }}</p>
        {% endfor %}
    {% endif %}
    <div>
        <table>
            <form action="/create" method = "POST">
                {% csrf_token %}
                First Name: <input type="text" id="first_name" name="first_name"><br>
                Last Name: <input type="text" id="last_name" name="last_name"><br>
                Email: <input type="text" id="email" name="email">
                <input type="submit" value="Create" />
                <br>
                <a href="/">Go Back</a>
            </form>
        </table>
    </div>
</body>
</html>